
<!--<div *ngFor="let user of users">-->
  <!--{{ user._id }} - {{ user.first_name }} - {{ user.last_name }} - {{ user.email }}-->
  <!--<button (click)="destroy(user)"> Delete </button>-->
  <!--<button (click)="user.editable = !user.editable"> Edit </button>-->
  <!--<app-user-edit [user]="user" (updateUserEvent)="update($event)" *ngIf="user.editable"></app-user-edit>-->
<!--</div>-->

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><button (click)="user.editable = !user.editable" routerLink="/edit/{{ user.id }}" class="btn btn-secondary"> Edit </button>
        <td><button (click)="destroy(user)" class="btn btn-danger"> Delete </button></td>
        <td class="col-12"><app-user-edit [user]="user" (updateUserEvent)="update($event)" *ngIf="user.editable"></app-user-edit></td>
      </tr>
  </tbody>
</table>
